@model BookFormAdminModel

@{
    ViewData["Title"] = $"Delete '{Model.Title}' book";
}

<h1 class="text-center text-danger">Are you sure that you want permanently to delete '@Model.Title' book?</h1>

<br />
<br />

<div style="margin-left: 450px">
    <form asp-area="Admin" asp-controller="Books" asp-action="Delete" asp-route-id="@Model.Id" method="post">
        <a asp-area="Admin" asp-controller="Books" asp-action="Index" class="btn btn-primary">Back</a>
        <button asp-area="Admin" asp-controller="Books" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</button>
    </form>
</div>