@model HomeIndexViewModel

<br />

@{
    ViewData["Title"] = "Welcome To My Online Library Management System!";
}

<h1 class="text-center text-capitalize text-black-50">@ViewData["Title"]</h1>

<br />
<br />

<div>

    <div class="row d-flex p-2 d-flex justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-primary" role="alert">
                There are @Model.BooksCount books in this library. You can see them <a asp-controller="Books" asp-action="All">here</a>
            </div>
        </div>
    </div>

    <div class="row d-flex p-2 d-flex justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-primary" role="alert">
                There are @Model.AuthorsCount authors in this library. You can see them <a asp-controller="Authors" asp-action="All">here</a>
            </div>
        </div>
    </div>

    <div class="row d-flex p-2 d-flex justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-primary" role="alert">
                There are @Model.BorrowedBooksCount borrowed books at the moment. You can see them <a asp-controller="Books" asp-action="Borrowed">here</a>
            </div>
        </div>
    </div>
</div>